<%= render partial: "shared/index_nav" %>

<h1>美食達人</h1>
<hr>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6">
    <div class=" center avatar-index">
      <%= image_tag current_user.avatar, class: "img-responsive img-circle" %>
    </div>
    <div class="center">
      <h4><%= link_to "#{
        if current_user.name 
            current_user.name 
          else 
            current_user.email.split("@").first 
          end 
        }", user_path(current_user) %></h4>
    </div>
  </div>
    


  <% @users.each do |user| %>
    <% if user!=current_user%>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="center avatar-index">
          <%= image_tag user.avatar, class: "img-responsive center-block" %>
        </div>
        <div class="center">
          <h4><%= link_to "#{
              if user.name 
                user.name 
              else
                user.email.split("@").first 
              end 
            }", user_path(user) %></h4>  
        </div>
        <div class="center">
          <%= render partial: "shared/follow", locals: {user: user} %>
          <%= render partial: "shared/friend", locals: {user: user} %>
        </div>
        <br>
        <br>
      </div>

    <% end %>

  <% end %>

</div>
<br>
