<div class="container">
  <div class="avatar">
    <%= image_tag current_user.avatar, class: "img-responsive center-block" %>
  </div>
  <div class="intro">
    <h2><%= current_user.name %></h2>
    <p><%= current_user.email %></p>
    <h3><%= current_user.intro %></h3>
    <div class="button"><%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-primary"%></div>
  </div>
</div>