<div class="intro">
  <div class="avatar">
    <%= image_tag @user.avatar, class: "img-responsive img-circle" %>
    <% #image_tag @user.avatar, class: "img-responsive img-circle"%>
  </div>
  <div class="intro-text">
    <h2><%= @user.name %></h2>
    <p><%= @user.email %></p>
    <%= "#{@commented_restaurants.uniq.count}已評論餐廳 #{@user.favorites.count}收藏餐廳 #{@user.followings.count} followings #{@user.followers.count} followers"%>
    <h3><%= @user.intro %></h3>
    <div class="button">
      <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" if @user==current_user%>
      <%= link_to 'Show Friend', friend_list_user_path(@user), class: "btn btn-primary" %>
      <% if @user != current_user %>
        <%= render partial: "shared/follow", locals: {user: @user} %>
        <%= render partial: "shared/friend", locals: {user: @user} %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= "#{@user.followings.count} followings" %>
          </h3>
        </div>
        <div class="panel-body">
          <% @user.followings.each do |following| %>
            <%= link_to (following) do %>
              <div class="small-box">
                <div class="float-left avatar-list">
                  <%= image_tag following.avatar, class: "img-responsive center-block img-circle" %>
                </div>
                <div class="" >
                  <br>
                  <h4><%= link_to "#{
                        if following.name 
                          following.name 
                        else 
                          following.email.split("@").first 
                        end 
                      }", user_path(following) %></h4>
                </div>
              </div>
              <div style="clear:both;"></div>
            <% end %>
          <% end %>
        </div> 
      </div>
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= "#{@user.followers.count} followers" %>
          </h3>
        </div>
        <div class="panel-body">
          <% @user.followers.each do |follower| %>
            <%= link_to (follower) do %>
              <div class="small-box">
                <div class="float-left avatar-list">
                  <%= image_tag follower.avatar, class: "img-responsive center-block img-circle" %>
                </div>
                <div class="" >
                  <br>
                  <p><h4><%= link_to "#{
                        if follower.name 
                          follower.name 
                        else 
                          follower.email.split("@").first 
                        end 
                      }", user_path(follower) %></h4></p>
                </div>
              </div>
              <div style="clear:both;"></div>
            <% end %>
          <% end %>
        </div> 
      </div>
    </div>


    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= "#{@user.comments.count}則評論 #{@commented_restaurants.uniq.count}間已評論餐廳" %>
          </h3>
        </div>
        <div class="panel-body">
          <% @commented_restaurants.uniq.each do |restaurant| %>
            <%= link_to (restaurant) do %>
            <% #link_to restaurant_path(restaurant) do%>
              <div class="my-restaurant">
                <!-- <div class="avatar-restaurant" > -->
                  <%= image_tag restaurant.image, class: "img-responsive center-block" %>
                <!-- </div> -->
                <% #link_to "#{restaurant.name}", restaurant_path(restaurant), class: ""%>
                <div class="center" ><%= restaurant.name %></div> 
              </div>
            <% end %>
          <% end %>
        </div> 
      </div>
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= "#{@user.favorites.count}間收藏餐廳" %>
          </h3>
        </div>
        <div class="panel-body">
          <% @user.favorited_restaurants.each do |restaurant| %>
            <%= link_to (restaurant) do %>
            <% #link_to restaurant_path(restaurant) do%>
              <div class="my-restaurant">
                <!-- <div class="avatar-restaurant" > -->
                  <%= image_tag restaurant.image, class: "img-responsive center-block" %>
                <!-- </div> -->
                <% #link_to "#{restaurant.name}", restaurant_path(restaurant), class: ""%>
                <div class="center" ><%= restaurant.name %></div> 
              </div>
            <% end %>
          <% end %>
        </div> 
      </div>
    </div>

  </div>
</div>