<ul class="nav nav-tabs">
  <li role="presentation" class=<%= active_class?(root_path) %>>
    <%= link_to "首頁", root_path %></li>
  <li role="presentation" class=<%= active_class?(feeds_restaurants_path) %>>
    <%= link_to "餐廳最新動態", feeds_restaurants_path %></li>
  <li role="presentation" class=<%= active_class?(ranking_restaurants_path) %>>
    <%= link_to "TOP10 人氣餐廳", ranking_restaurants_path %></li>
  <li role="presentation" class=<%= active_class?(users_path) %>>
    <%= link_to "美食達人", users_path %></li>
</ul>