

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "首頁", root_path %></li>
  <li role="presentation"><%= link_to "餐廳最新動態", feeds_restaurants_path %></li>
  <li role="presentation" class="active"><%= link_to "TOP10 人氣餐廳", ranking_restaurants_path %></li>
</ul>

<br>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">TOP 10 人氣餐廳</h3>
      </div>
      <div class="panel-body">
        <% @top_restaurants.each do |restaurant| %>
          <h2><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h2>
          <p><%= restaurant.category.name %></p>
          <h5><%= restaurant.description %></h5>
          <hr>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">最新評論</h3>
      </div>
      <div class="panel-body">
        <% @recent_comments.each do |comment| %>

          <h2><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></h2>
          <p><%= comment.content %></p>
          <h5>by <%= link_to comment.user.name ? comment.user.name : comment.user.email.split("@").first , user_path(comment.user) %></h5>
          <hr>
        <% end %>
      </div>
    </div>  
  </div>
</div>



